.home_container{
   
    height: 100%;
    width: 100%;
    padding-bottom: 16px;
    margin-top: 25px;
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
     background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); 
     background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
}


